

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.clip-divider {
  clip-path: polygon(0 0, 100% 20%, 100% 52%, 0 51%); 
}